<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <th> Title </th>
                <th> Genre </th>
                <th> Duration </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${movies.size() == 0}">
                <td colspan="2"> No Movies Available </td>
            </tr>
            <tr th:each="movie : ${movies}">
                <td><span th:text="${movie.title}"></span></td>
                <td><span th:text="${movie.genre}"></span></td>
                <td><span th:text="${movie.duration}"></span></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>